 *{
    margin:0;
    padding: 0;

}
:root{
    --primary1 :rgba(88, 48, 109, 0.30);
    --secondary2: hsla(280, 96%, 15%,0.65)
    
}
.bannertwo{
    
    display: flex;
    height: 1000px;
    background:linear-gradient(135deg ,var(--primary1),var(--secondary2)),
     url('https://images.hdqwalls.com/download/asus-rog-gamers-4k-bn-1600x1200.jpg') no-repeat center center / cover;
     color: hsl(280, 81%, 15%);    
     color: white;
}

h1{
    font-family: 'Prata', serif;
}
.cash{
    color: rgb(216, 36, 36);
    font-weight: 500;
}
.read1{
    background-color: #fc3d3d;
    transform:skewX(-15deg);
    outline: none;
    width: 8rem;
    height: 3.5rem;
}